{% extends 'layout.html' %}

{% block content %}
<section class="header">
    <h1>Jorge Lopez</h1>
    <p>Aspiring Full-Stack Developer</p>
    <!--I would suggest choosing a different picture here.-->
    <!--Like maybe a hobby photo-->
    <img src="static/images/me.jpg" alt="Headshot of myself">
</section>
<section id="about-page">
    <div id="triangle7"></div>
    <div id="triangle8"></div>
    <h2>Section Title</h2>
<p>
    Welcome to my portfolio! I'm [Your Name], an IT professional currently completing the Python Techdegree program by Treehouse. This web application showcases the projects I've completed during the program.
    A bit about my background: I hold Associate's degrees in Computer Information Technology and Business Administration. I'm passionate about learning new technologies and expanding my skill set.
</p>
<p>
    This project represents the culmination of my Python Techdegree journey. I've gained proficiency in Python, HTML, CSS, Flask-SQLAlchemy, and SQLite.
    The design of this portfolio is based on templates provided by Treehouse. In the future, I may personalize the design to better reflect my style and skills.
</p>
<p>
    Thank you for visiting my portfolio! Feel free to explore my projects and reach out if you have any questions.
</p>
    <a href="#"><i class="far fa-file"></i>Resume</a>
</section>
{% endblock %}