{% extends 'layout.html' %}

{% block content %}
<section class="header">
    <h1>Python Developer</h1>
    <p>Coding is my craft; it offers the freedom to create, solve, and grow.</p>
    <img src="static/images/me.jpg" alt="Headshot of myself">
</section>
<section id="about">
    <h2>About Me</h2>
    <p>
        Hi, I'm Jorge. I specialize in Python and full-stack JavaScript. Coding is a significant part of my daily routine. When I'm not working at my desk, I train in Brazilian Jiu-Jitsu and Muay Thai, and I regularly lift weights. This helps me stay focused and energized. If you’re interested in technology discussions or potential collaborations, feel free to reach out.
        Philosophy that I've embraced since childhood: "Move well, study well, play well, eat well, rest well"
    </p>
    <div id="triangle1"></div>
    <div id="triangle2"></div>
</section>
<section id="skills">
    <i class="fas fa-laptop-code"></i>
    <h2>Skills</h2>
    <ul>
        <li>Python</li>
        <li>JavaScript</li>
        <li>Node.js</li>
        <li>React</li>
        <li>SQL</li>
        <li>Git</li>
    </ul>
</section>
<section id="projects">
    <div id="triangle3"></div>
    <i class="fas fa-file-code"></i>
    <h2>Projects</h2>
    <div id="project-list">
        {% for project in projects %}
        <div id="project{{ loop.index }}" class="a-project">
            <h3>{{ project.title }}</h3>
            <a href="{{ project.link }}" class="github-btn">
                <i class="fab fa-github"></i>
                View on GitHub
            </a>
            <p>
                {{ project.description }}
            </p>
            <p>
                Skills: {{ project.skills }}
            </p>
        </div>
        {% endfor %}
<!--        <div id="project1" class="a-project">-->
<!--            <h3>Project Title</h3>-->
<!--            <a href="#" class="github-btn">-->
<!--                <i class="fab fa-github"></i>-->
<!--                View on GitHub-->
<!--            </a>-->
<!--            <p>-->
<!--                Pastry wafer chocolate cake caramels.-->
<!--                Gummi bears pudding sugar plum macaroon.-->
<!--            </p>-->
<!--            <p>-->
<!--                Skills: Pastry wafer chocolate cake caramels.-->
<!--                Gummi bears pudding sugar plum macaroon.-->
<!--            </p>-->
<!--        </div>-->
    </div>
    <div id="triangle4"></div>
</section>
<section id="contact">
    <i class="fas fa-paper- pne"></i>
    <h2>Contact Me</h2>
    <p>
        If you have any questions, feedback, or suggestions regarding this project, feel free to reach out to me:
    </p>
    <p>
        <i class="fas fa-envelope"></i>
        JorgeLopez3092@gmail.com
    </p>
</section>
{% endblock %}